@import './core/variables.scss';
@import './core/reset.scss';
.header {
    height: 100px;
    background-color: $brandColor-2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__logo {
        width: 200px;
    }
}