@import './core/variables.scss';
@import './core/reset.scss';
.header {
    box-shadow: 3px 5px 5px -4px rgba(173, 173, 173, 0.9);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        margin-left: 20px;
        width: 30px;
    }
    &__others {
        margin-right: 20px;
        &--bone {
            font-size: 20px;
            margin-left: 10px;
            color: $brandColor-8;
        }
        &--search {
            font-size: 20px;
            color: $brandColor-4;
        }
    }
}

.main__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    &__search {
        text-decoration: none;
        color: $brandColor-1;
        font-family: $roboto;
        font-size: 20px;
        font-weight: 600;
        &--button {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 50px;
            background-color: white;
            border-radius: 23px;
            box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
        }
    }
}