@import '../core/variables.scss';
@import '../core/reset.scss';
.community {
    margin-top: 10px;
    &__name {
        font-family: $roboto;
        font-size: 18px;
        margin-right: 10px;
    }
    &__select {
        width: 150px;
        height: 30px;
        cursor: pointer;
    }
}