@import '../core/variables.scss';
@import '../core/reset.scss';
.filter-container {
  height: 170px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset {
  margin-left: auto;
  @media all and (min-width: 768px) {
    margin-left: 480px;
  }
  &__icon {
    color: $brandColor-4;
    font-size: 20px;
  }
}
