@import '../core/variables.scss';
@import '../core/reset.scss';
.filter-container {
    height: 170px;
    width: 300px;
    border: 2px solid $brandColor-3;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  background-color: $brandColor-4; */
}

.reset {
    position: absolute;
    transform: translate(125px, -60px);
}