@import '../core/variables.scss';
@import '../core/reset.scss';
.community {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  &__name {
    font-family: $roboto;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__select {
    width: 300px;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 9px 5px -4px rgba(221, 221, 221, 0.9);
    background-color: white;
    @media all and (min-width: 768px) {
      width: 500px;
    }
    @media all and (min-width: 1024px) {
    }
  }
}
