$brandColor-1: #FDB357;
$brandColor-2: #CB5741;
$brandColor-3: #94ced2;
$brandColor-4: #003c5e;
$brandColor-5:#4d4c4c;
$brandColor-6:#e2e2e2;
$brandColor-8:#757575;
$semitransparent:#7474749c;
//Fonts
$brandFont: 'RocknRoll One',
sans-serif;
$roboto: 'Roboto',
sans-serif;