@import '../core/variables.scss';
@import '../core/reset.scss';
.header {
  &__dogList {
    &--bone {
      font-size: 20px;
      margin-left: 10px;
      color: $brandColor-8;
    }
    &--search {
      font-size: 20px;
      color: $brandColor-8;
    }
  }
}

.dogContainer {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.article {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  &__containerImg {
    height: 500px;
    background-color: #003c5e8e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
  }
  &__image {
    width: 100%;
    z-index: 1;
    position: relative;
    margin: auto;
    &--background {
      height: 500px;
      width: calc(95%);
      background-color: #003c5e8e;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: absolute;
      filter: blur(6px);
      z-index: 0;
    }
  }
  &__button {
    transform: translateY(-50px);
    width: 100%;
    height: 45px;
    text-decoration: none;
    color: $brandColor-1;
    font-family: $roboto;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 23px;
    box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
    border: none;
    border-radius: 25px;
  }
}

.nameGender {
  display: flex;
  justify-content: left;
  transform: translate(10px, -50px);
  &__name {
    font-family: $brandFont;
    font-size: 30px;
    color: white;
  }
  &__gender {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.prevButton {
  transform: translateY(70px);
}

.mainButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.buttons {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(-60px);
  &__arrow {
    width: 50px;
  }
  &__prev {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
    color: $brandColor-4;
    &--empty {
      width: 40px;
      height: 40px;
      background-color: white;
      border: none;
      border-radius: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
      color: $brandColor-6;
    }
  }
  &__fav {
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
    &--bone {
      font-size: 40px;
      color: $brandColor-1;
    }
  }
  &__no {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 75px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
    &--cross {
      font-size: 40px;
      color: red;
    }
  }
}
