@import '../core/variables.scss';

.favAside-title {
  display: none;
  @media all and (min-width: 1024px) {
    display: flex;
    font-family: $brandFont;
    color: $brandColor-4;
    margin: 10px;
    font-size: 20px;
  }
}

.unfavAside {
  display: none;
  @media all and (min-width: 1024px) {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 23px;
    box-shadow: 5px 9px 15px -4px rgba(173, 173, 173, 0.9);
    border: none;
    transform: translate(300px, 35px);
    position: relative;
    z-index: 3;
    &__cross {
      color: $brandColor-4;
    }
  }
}

.favAside-article {
  display: none;
  @media all and (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__containerImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 200px;
    z-index: 1;
    position: relative;
    margin: auto;
    &--background {
      height: 200px;
      width: 300px;
      border-radius: 10px;
      position: absolute;
      filter: blur(6px);
      z-index: 0;
    }
  }
}
.favAside-nameGender {
  display: flex;
  justify-content: left;
  transform: translate(100px, -50px);
  z-index: 1;
  position: relative;
  &__name {
    font-family: $brandFont;
    font-size: 30px;
    color: white;
    text-decoration: none;
  }
  &__gender {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
